---

---

<h1 class="text-white text-xl xl:text-2xl text-center">About Me</h1>
<div class="xl:flex xl:flex-row xl:justify-between xl:mx-52">
    <p class="text-white text-md text-center mt-3 xl:hidden">
        Hello! I'm Guido Aranda, a passionate enthusiast of mobile technologies
        and Computer Science student.
    </p>
    <div class="flex flex-col">
        <img
            src="guido-profile.webp"
            alt=""
            class="mt-6 w-52 h-52 flex justify-center m-auto rounded-md"
        />
        <div class="py-4 w-52 m-auto text-center">
            <ul class="text-white">
                <li class="flex flex-row justify-center">
                    Argentina
                    <img
                        class="w-6 h-6 mx-2"
                        src="argentina.svg"
                        alt="argentina flag"
                    />
                    <img src="mate.svg" class="w-6 h-6" alt="mate" />
                </li>
                <li>Age: Age is not a limitation.</li>
                <li class="flex flex-row">
                    Lenguages: <img
                        class="w-6 h-6 ml-1"
                        src="argentina.svg"
                        alt="argentina flag"
                    />
                    <img
                        class="w-6 h-6 mx-2"
                        src="us-flag.svg"
                        alt="usa flag"
                    />
                    <img class="w-6 h-6" src="brazil.svg" alt="brazil flag" />
                </li>
                <li></li>
            </ul>
        </div>
    </div>
    <p class="text-white text-md xl:text-2xl mt-14 text-center hidden xl:block">
        Hello! I'm Guido Aranda, a passionate enthusiast of mobile technologies
        and Computer Science student.
    </p>
</div>
