---
import SocialComponent from "./SocialComponent.astro";
---

<div class="xl:flex flex-col justify-center m-auto items-center">
    <SocialComponent
        link="mailto:guido.aranda1@hotmail.com"
        nameSocial="Email"
        image="email.svg"
    />
    <SocialComponent
        link="https://www.linkedin.com/in/guido-aranda-dev/"
        nameSocial="LinkedIn"
        image="linkedin.svg"
    />
</div>
