<div
    class="bg-gradient-to-l from-neutral-700 to-green-500 flex flex-row gap-1 w-full h-full rounded-lg xl:w-[25%] xl:justify-center xl:m-auto"
>
    <img
        class="align-middle m-auto w-16 h-16 p-1 rounded-lg"
        src="UNO-LOGO.webp"
        alt="university logo"
    />
    <div class="flex flex-col p-3 text-white">
        <h1 class="text-xl">Computer Science</h1>
        <p class="mt-3 mb-0 text-lg">2023 - Now</p>
        <p>Algorithms - OOP - DB</p>
    </div>
</div>
