<div class="xl:flex flex-col justify-center items-center">
    <div class="text-white border border-[#08F300] rounded-md p-3 xl:w-[30%]">
        <div>
            <h1 class="text-base">Web development Freelancing</h1>
            <p class="text-sm my-3">2022 - Currently</p>
            <p class="text-sm">Html - Css - Wordpress - Astro</p>
        </div>
    </div>
    <div
        class="text-white border my-3 border-[#08F300] rounded-md p-3 xl:w-[30%]"
    >
        <div>
            <h1 class="text-base">AI Labeling</h1>
            <p class="text-sm my-3">2021 - 2024</p>
            <p class="text-sm">Testing Tools</p>
        </div>
    </div>
</div>
