<header class="flex justify-between py-3 w-full xl:w-[1120px] mx-auto">
    <h1 class="text-white text-wrap w-1 mx-3">Guido Aranda</h1>

    <nav class="flex flex-row gap-x-4 justify-center text-white mx-3">
        <a class="px-1" href="#aboutMe">About</a>
        <a class="px-1" href="#projects">Projects</a>
        <a class="px-1" href="#contact">Contact</a>
    </nav>
</header>
