---
import ProjectCard from "./ProjectCard.astro";
---

<div>
    <ProjectCard
        title="Lenguage Learning App"
        image="work-in-progress.webp"
        description="Creating an application with various functionalities for language learning."
        techLogos={["android-logo.svg", "kotlin.svg", "jetpack-compose.webp"]}
    />

    <ProjectCard
        title="Pita Store Web"
        image="pita-web-capture.webp"
        description="Website created with Astro for a Counter Strike item store."
        techLogos={["astro.svg", "tailwind.svg"]}
    />

    <ProjectCard
        title="Horoscope App"
        image="horoscopeCapture.webp"
        description="Application created based on Aristidevs' course using Kotlin and XML."
        techLogos={["android-logo.svg", "kotlin.svg"]}
    />
</div>
