---
import TechnologieCard from "./TechnologieCard.astro";
---

<h1 class="text-white text-center mb-4 text-xl xl:text-2xl">
    Favorite Technologies
</h1>
<div class="w-full flex flex-row flex-wrap justify-center">
    <TechnologieCard image="android-logo.svg" techName="Android" />
    <TechnologieCard image="kotlin.svg" techName="Kotlin" />
    <TechnologieCard image="jetpack-compose.webp" techName="Jetpack Compose" />
    <TechnologieCard image="react-native.svg" techName="React Native" />
    <TechnologieCard image="astro.svg" techName="Astro" />
</div>
